@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat" sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: rgb(22, 51, 0);
    padding: 0;
    
}

.login-wrapper {
    background-image: url(../Assets/background_login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding-top: 5em;
}

.wrapper {
    height: auto;
    max-width: 30%;
    margin: 0 auto;
    padding: 2em 10em;
    border: 0.5em solid darkgreen;
    border-radius: 4em;
    background-color: transparent;
    backdrop-filter: blur(40px);
    box-shadow: 10px 10px 7px rgb(64, 64, 64);

}

.wrapper h1 {
    text-align: center;
    color: darkgreen;
}

form {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    max-width: 30em;
}

.login {
    padding: 1em 1em;
    margin:1em 0;
    border: 2px solid grey;
    border-radius: 1em;
}

button[type=submit]{
    color: white;
    font-weight: bold;
    padding: 1em 1em;
    margin: 2em 0 1em 0;
    border: 0.1em solid rgb(252, 190, 43);
    border-radius: 1em;
    background-color: darkgreen;
}

button[type=submit]:hover {
    background-color: rgb(252, 190, 43);
    color: darkgreen;
    border-color: rgb(252, 190, 43);
}

.q{
    text-align: center;
}
span {
    display: inline;
}

.chng-action {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(0, 66, 0);
}

.chng-action:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.wr_log {
    color:red;
}

.dp {
    color: red;
}


.ex {
    color:red;
}

@media (max-width: 700px) {

    .wrapper {
        margin: 0 auto;
        padding: 0em 2em;
        max-width: 70%;
        text-align: center;
    }

    .wrapper form {
        margin-bottom: 2em;
        
    }
}